@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
	@apply p-2 hover:bg-stone-200 w-full text-left font-normal text-xl cursor-pointer;
}

.header {
	&-text {
		@apply text-xl font-bold pb-4;
	}
}

.icon {
	&-button {
		@apply hover:bg-slate-300/70 rounded-full h-min justify-items-center cursor-pointer;
	}
}

.overflow {
	&-y {
		&-hidden {
			overflow-y: hidden;
		}
	}

	&-x {
		&-hidden {
			overflow-x: hidden;
		}
	}
}

.force-front {
	z-index: 999;
}

.overscroll {
	overscroll-behavior: contain;
}